
/* 3B82F6-teal  */
/* 3B82F6-blue/ */
  /* Include the plain CSS here */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .different-directions {
    position: relative;
  }

  .different-directions:after,
  .different-directions:before {
    content: '';
    display: block;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
  }

  .different-directions:after {
    animation: spin 1s infinite linear reverse;
    box-shadow: 20px 0px 0 0 #3B82F6,
                12.47px 15.64px 0 0 #1f4a8f,
                -4.45px 19.5px 0 0 #1f4a8f,
                -18.02px 8.68px 0 0 #1f4a8f,
                -18.02px -8.68px 0 0 #1f4a8f,
                -4.45px -19.5px 0 0 #1f4a8f,
                12.47px -15.64px 0 0 #1f4a8f;
  }

  .different-directions:before {
    animation: spin 1s infinite linear;
    box-shadow: 35px 0px 0 0 #1f4a8f,
                21.82px 27.36px 0 0 #1f4a8f,
                -7.79px 34.12px 0 0 #1f4a8f,
                -31.53px 15.19px 0 0 #1f4a8f,
                -31.53px -15.19px 0 0 #1f4a8f,
                -7.79px -34.12px 0 0 #1f4a8f,
                21.82px -27.36px 0 0 #1f4a8f;
  }